/* ==========================
        BOOKING PAGE
========================== */

.booking-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .booking-content {
    width: 1320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .booking-top {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  
  .booking-poster-box {
    width: 380px;
    height: 520px;
    background: #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .booking-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .booking-info p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .booking-divider {
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  .booking-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .booking-label {
    width: 120px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .booking-date {
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .booking-count {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .booking-count button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #eee;
    font-size: 18px;
    cursor: pointer;
  }
  
  .booking-count span {
    font-size: 18px;
    font-weight: 600;
  }
  
  .booking-btn {
    width: 240px;
    margin-top: 30px;
    padding: 12px 0;
    background: #0f1d40;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
  }
  
  .booking-btn:hover {
    background: #162955;
  }
  
  .time-section {
  display: flex;
  gap: 12px;
}

.time-btn {
  padding: 10px 24px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.time-btn.selected {
  background: #0f1a44;
  border-color: #0f1a44;
  color: #fff;
}
